DB_USER=postgres
DB_URL=jdbc:postgresql://database:5432/annotations
DB_PASSWORD=elucidate
DATABASE_USER=postgres
DATABASE_PASSWORD=elucidate
DATABASE_URL=jdbc:postgresql://database:5432/annotations
AUTH_TOKEN_VERIFIERKEY=notinuse
BASE_PORT=18080

